<div class="schedules_container">
  <h3><%= current_user.first_name %> <%= current_user.last_name %>'s Itineraries</h3>
  <% if @schedules.present? == false %>
    <div class="comment-chunk valign-wrapper">
      <%= image_tag("logo-green.png", :class => "emphasis-logo") %>
      <span class="hey-there">You don't have any travel schedules yet! <%= link_to "Why don't you make one?", new_schedule_path %></span>
    </div>
  <% else %>
    <% @schedules.order('created_at DESC').each_slice(2) do |array_of_2_schedules|%>
      <div class="row">
        <% array_of_2_schedules.each do |schedule|%>
          <div class="col s12 m6">
            <div class="card hoverable">
              <div class="card-image">
                <% if (schedule.photo == nil) %>
                  <%= image_tag("purple.jpeg", :class => "custom-photo") %>
                <% else %>
                  <img src="<%= schedule.photo %>" class="custom-photo">
                <% end %>
                <span class="card-title"><%= schedule.location %></span>
              </div>
              <div class="card-content">
                <p><%= schedule.departure_date %> <%= schedule.departure_time %> to <%= schedule.return_date %> <%= schedule.return_time %></p>
              </div>
              <div class="card-action">
                <%= link_to "Itinerary Details", schedule_path(schedule.id) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
