<div class="setup-container travel-form">
  <div id="msform">
    <%= form_for @schedule do |f| %>
    	<!-- progressbar -->
    	<ul id="progressbar">
    		<li class="active"></li>
    		<li></li>
    		<li></li>
    	</ul>
    	<!-- fieldsets -->
    	<%= field_set_tag do %>
    		<h2 class="fs-title">Where do you want to go?</h2>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">location_on</i>
            <%= f.text_field :location, :id => 'location', :placeholder => 'Tokyo, Japan' %>
            <%= f.label :location, :id => 'label' %>
          </div>
        </div>
        <button class="next form-button btn waves-effect waves-light" type="button" name="next" value="Next">Next</button>
    	<% end %>
    	<%= field_set_tag do %>
    		<h2 class="fs-title">When do you want to go?</h2>
        <div id="datepair" class="row">
          <div class="input-field inline col s12 m6">
            <i class="material-icons prefix">flight_takeoff</i>
            <%= f.text_field :departure_date, :id => 'departure_date', :class => 'datepicker', :placeholder => 'Departure Date' %>
            <%= f.label :departure, :id => 'label', :for => 'datepair' %>
          </div>
          <div class="input-field inline col s12 m6" id="datepairExample">
            <%= f.text_field :departure_time, :id => 'departure_time', :class => 'time start', :placeholder => 'Departure Time' %>
          </div>
        </div>
        <div id="datepair" class="row">
          <div class="input-field inline col s12 m6" id="datepairExample">
            <i class="material-icons prefix">flight_land</i>
            <%= f.text_field :return_date, :id => 'return_date', :class => 'datepicker', :placeholder => 'Return Date' %>
            <%= f.label :return, :id => 'label', :for => 'datepair' %>
          </div>
          <div class="input-field inline col s12 m6" id="datepairExample">
            <%= f.text_field :return_time, :id => 'return_time', :class => 'time end', :placeholder => 'Return Time' %>
          </div>
        </div>
        <button class="previous form-button btn waves-effect waves-light" type="button" name="previous" value="Previous">Previous</button>
    		<button class="next form-button btn waves-effect waves-light" type="button" name="next" value="Next">Next</button>
    	<% end %>
    	<%= field_set_tag do %>
    		<h2 class="fs-title">What kind of traveller are you?</h2>
        <div class="choices">
          <%= f.radio_button :traveller_type, "standard" %>
          <%= f.label :traveller_type_standard, "Standard:", :class => "radio-button-label" %>
          <span class="description-text">You want to see a destination's top attractions, so we'll take you to all the landmarks!</span>
        </div>
        <div class="choices">
          <%= f.radio_button :traveller_type, "foodie" %>
          <%= f.label :traveller_type_foodie, "Foodie:", :class => "radio-button-label" %>
          <span class="description-text">Try the best in culinary arts a destination has to offer!</span>
        </div>
        <div class="choices">
          <%= f.radio_button :traveller_type, "relaxation" %>
          <%= f.label :traveller_type_relaxation, "Relaxation:", :class => "radio-button-label" %>
          <span class="description-text">Take it easy and enjoy a leisurely trip. We'll take you to spas and cafes for proper relaxation.</span>
        </div>
        <div class="choices">
          <%= f.radio_button :traveller_type, "museum" %>
          <%= f.label :traveller_type_museum, "Museum:", :class => "radio-button-label" %>
          <span class="description-text">Check out museums, art galleries, and find new cultural experiences.</span>
        </div>
        <div class="choices">
          <%= f.radio_button :traveller_type, "adventure" %>
          <%= f.label :traveller_type_active, "Adventure:", :class => "radio-button-label" %>
          <span class="description-text">If you love being active and exploring the outdoors, we can find plenty of activities for you!</span>
        </div>
    		<button class="previous form-button btn waves-effect waves-light" type="button" name="previous" value="Previous">Previous</button>
        <%= f.submit class: 'submit form-button btn waves-effect waves-light', id: 'schedule_submit_button' %>
    	<% end %>
    </div>
  <% end %>

  <div id="loady_loader" class="modal valign-wrapper">
    <div class="modal-content">
      <p class="loady-text">Please be patient while we make an itinerary for you...</p>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
</div>
