<div class="schedule-background">
  <div class="calendar-container">
    <div id="calendar"></div>
  </div>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Create Event</h4>
    <br />
    <div class="row">
      <form class="col s12">
        <%= form_for [@schedule, @event] do |f| %>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">today</i>
              <%= f.text_field :event_name, :placeholder => "Visit the Eiffel Tower", :id => "event_name", :class => "validate" %>
              <label for="event_name">Event Name</label>
            </div>
            <div id="datepair">
              <div class="input-field inline col s6 m3">
                <%= f.text_field :start_date, :id => 'start_date', :class => 'datepicker', :placeholder => 'Start Date' %>
                <label for="datepair">Time and Date</label>
              </div>
              <div class="input-field inline col s6 m3" id="datepairExample">
                <%= f.text_field :start_time, :id => 'start_time', :class => 'time start', :placeholder => 'Start Time' %>
              </div>
              <div class="input-field inline col s6 m3" id="datepairExample">
                <%= f.text_field :end_date, :id => 'end_date', :class => 'datepicker', :placeholder => 'End Date' %>
              </div>
              <div class="input-field inline col s6 m3" id="datepairExample">
                <%= f.text_field :end_time, :id => 'end_time', :class => 'time end', :placeholder => 'End Time' %>
              </div>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">location_on</i>
              <%= f.text_field :event_location, :placeholder => "Eiffel Tower, Paris, France", :id => "event_location", :class => "validate" %>
              <label for="event_location">Location</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">info</i>
              <%= f.text_area(:event_description, :class => "materialize-textarea", :id => "event_description", :placeholder => "The Eiffel Tower is an iconic landmark in Paris.") %>
              <label for="event_description">About</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">label</i>
              <%= f.select :categories, [ ["Food", "1"], ["Event", "2"], ["Festival", "3"], ["Museum", "4"], ["Other", "5"] ], {prompt: false}, {:multiple => true, :class => "form_input", :id => "multCategories"} %>
              <label>Categories</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light" id="submitButton" type="submit" name="action" data-dismiss="modal">Submit</button>
        <% end %>
      </form>
    </div>
  </div>
</div>
