<script>
	//prompts user onload
	//See foodfinder.js
	window.onload = function() {
		getLocation();
	};
	// Takes in rating. Returns image path.
	// Bit a Hack. Moved JS function to view so I could embed Ruby
	function getRatingsPath(rating) {
		var path = "";
		switch(rating) {
			case 0:
				path = '<%= image_tag("stars/small_0@2x.png") %>' ;
				// path = "/assets/stars/small_0@2x.png";
				break;
			case 1:
				path = '<%= image_tag("stars/small_1@2x.png") %>' ;
				// path = "/assets/stars/small_1@2x.png";
				break;
			case 1.5:
				path = '<%= image_tag("stars/small_1_half@2x.png") %>' ;
				// path = "/assets/stars/small_1_half@2x.png";
				break;
			case 2:
				path = '<%= image_tag("stars/small_2@2x.png") %>' ;
				// path = "/assets/stars/small_2@2x.png";
				break;
			case 2.5:
				path = '<%= image_tag("stars/small_2_half@2x.png") %>' ;
				// path = "/assets/stars/small_2_half@2x.png";
				break;
			case 3:
				path = '<%= image_tag("stars/small_3@2x.png") %>' ;
				// path = "/assets/stars/small_3@2x.png";
				break;
			case 3.5:
				path = '<%= image_tag("stars/small_3_half@2x.png") %>' ;
				// path = "/assets/stars/small_3_half@2x.png";
				break;
			case 4:
				path = '<%= image_tag("stars/small_4@2x.png") %>' ;
				// path = "/assets/stars/small_4@2x.png";
				break;
			case 4.5:
				path = '<%= image_tag("stars/small_4_half@2x.png") %>' ;
				// path = "/assets/stars/small_4_half@2x.png";
				break;
			case 5:
				path = '<%= image_tag("stars/small_5@2x.png") %>' ;
				// path = "/assets/stars/small_5@2x.png";
				break;
			default:
				path = '<%= image_tag("stars/small_0@2x.png") %>' ;
				// path = "/assets/stars/small_0@2x.png";		//default is 0 rating;
				break;
		}
		return path;
	}
</script>

<div class="container">
	<div class="alert alert-info" id="loc-notify" role="alert">
		<strong>Locate Request:</strong> Please accept location request to see delicious yums near you.
	</div>
	<div class="alert alert-danger" id="loc-denied" role="alert" hidden>
		<strong>Location Request Denied: </strong> Please reload and accept the location request to see delicious yums. :)
	</div>
	<div class="alert alert-danger" id="loc-no-support" role="alert" hidden>
		<strong>Your browser does not support Geolocation.</strong> :(
	</div>
</div>

<!-- Grid System -->
<div class="container" style="padding: 5em">
	<div class="row">

		<img id="result-pic" class="card-img-top" src="" style="height: 300px;">
		<h4 id="result-title" class="card-title">Restaurant Title</h4>
		<p class="card-text"><small id="result-cats" class="text-muted"></small></p>
		<div id="result-ratings"></div>	<!-- Empty DIV to insert image -->
		<p class="card-text"><small id="result-reviews" class="text-muted"></small></p>
		<button id="result-yes" type="button" class="btn btn-success">YASSS</button>
		<button id="result-next" type="button" class="btn btn-danger">Next...</button>

	</div>
	<!-- Row 2 -->
	<div class="row">
		<!-- Padding Column -->
		<div class="col"></div>
		<!-- Content: Options Dropdown -->
		<div class="col-xl-6" style="padding-top: 1em">
    		<select class="form-control" id="result-option" hidden>
				<option value="restaurant" selected>Restaurants</option>
				<option value="breakfast">Breakfast</option>
				<option value="lunch">Lunch</option>
				<option value="dinner">Dinner</option>
				<option value="boba">Boba</option>
    		</select>
		</div>
		<!-- Padding Column -->
		<div class="col"></div>
	</div>
</div>
